# --- Для Telegram-бота та його логіки ---
aiogram==2.25.1

# --- Для веб-сервера (Flask) та запуску на хостингу (Gunicorn) ---
Flask==2.3.2
gunicorn==22.0.0

# --- Для роботи з Google Sheets ---
gspread==6.0.2
oauth2client==4.1.3

# --- Для завантаження змінних середовища (для локальної розробки) ---
python-dotenv==1.0.1
